---
import { Image } from 'astro:assets';

import PageLayout from '@/layouts/Base';
import aboutImg from '@/assets/about-astro.png';

const meta = {
  title: '关于',
  description: '一枚小前端',
};
---

<PageLayout meta={meta}>
  <div class="space-y-6">
    <h1 class="title">关于我</h1>
    <p>
      一枚小前端，会的东西不多，也不深，正在努力学习中～
    </p>
    <p>
      其他信息我也不不太想在公共区域放出来，因为我觉得你应该不太想了解我这个人 hhhh
    </p>
    <p>目前所掌握的技术：</p>
    <ul class="list-inside list-disc">
      <li>前端开发御三家：HTML/CSS/JavaScript（这个前端应该都会</li>
      <li>React 的忠实使用者，Vue 也会，写过 toy 版（Angular 用过 1.0 版本，时代的记忆</li>
      <li>倾向于使用 TypeScript 而不是 JavaScript（什么，你说 CoffeeScript？我能看懂就不错了</li>
      <li>能够使用 NodeJs 开发应用</li>
      <li>玩过 Electron，做过一个网易云音乐第三方客户端（别找，因为版权问题已经从 Github 中隐藏项目了</li>
      <li>熟练玩转 Primsa ORM 和 Apollo Server 搭建一个基于 GraphQL 规范定制的服务端应用</li>
      <li>Docker/k8s 容器化的基本知识（算是掌握了 hhhhh</li>
    </ul>
    <p>
      因为会的技术就这么点，正在努力自学 Rust/Go 等语言，同时也在关注 Bun 和 Deno 的发展，
      实在不想吐槽 Node 这个庞大的 node_modules 了。
    </p>
    <p>
      其他的就不多说了，希望我的博文中有能帮到你的内容，最后还是感谢你耐心的看完我这个自我介绍（虽然字数不多）。
    </p>
  </div>
</PageLayout>
