---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Astro",
		desc: "Build fast websites, faster.",
		href: "https://astro.build",
	},
	{
		title: "Tailwind CSS",
		desc: "Rapidly build modern websites without ever leaving your HTML.",
		href: "https://tailwindcss.com",
	},
	{
		title: "Markdown",
		desc: "Simple and easy-to-use markup language.",
		href: "https://www.markdownguide.org/",
	},
	{
		title: "MDX",
		desc: "Markdown for the component era.",
		href: "https://mdxjs.com/",
	},
	{
		title: "Satori",
		desc: "Generating png Open Graph images for blog posts.",
		href: "https://github.com/vercel/satori",
	},
	{
		title: "Pagefind",
		desc: "A fully static search library.",
		href: "https://pagefind.app/",
	},
	{
		title: "Astro Icon",
		desc: "An easy to use Icon component for Astro.",
		href: "https://github.com/natemoo-re/astro-icon#readme",
	},
	{
		title: "Expressive Code",
		desc: "Highly customisable source code & syntax highlighter",
		href: "https://expressive-code.com/",
	},
];
---

<PageLayout meta={{ title: "主页" }}>
	<section>
		<h1 class="title mb-6">Hi! 你好！</h1>
    <p class="mb-4">
      朋友，你好！欢迎你发现这个小小的博客，首先做个自我介绍。我是一枚小前端，在我的博客中我会努力记录我在学习、
      工作以及业余活动中遇到的问题，不论技术、生活等等等。我希望如果你在浏览内容的过程中发现有错误的地方，麻烦
      您可以通过邮件联系我，我会在看到邮件的第一时间调整。最后，非常感谢你能光顾我这个小小的角落。
    </p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">博文</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<!--<section class="mt-16">-->
	<!--	<h2 class="title mb-4 text-xl">技术</h2>-->
	<!--	<dl class="space-y-4">-->
	<!--		{-->
	<!--			cactusTech.map(({ href, title, desc }) => (-->
	<!--				<div class="flex flex-col gap-2 md:flex-row">-->
	<!--					<dt>-->
	<!--						<span class="flex">-->
	<!--							<a href={href} target="_blank" rel="noopener noreferrer" class="cactus-link">-->
	<!--								{title}-->
	<!--							</a>-->
	<!--							:-->
	<!--						</span>-->
	<!--					</dt>-->
	<!--					<dd>{desc}</dd>-->
	<!--				</div>-->
	<!--			))-->
	<!--		}-->
	<!--	</dl>-->
	<!--</section>-->
</PageLayout>
